@using Moonlit
@model  Ecard.Mvc.Models.Shops.ListHandRingPrints

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">@Model.Localize("title")</a></li>
    </ul>
</div>
<div class="rightinfo">


    <table id="selectTd">
        <tr>
            @Html.EditorForModel("condition")
            <td>
                <input name="" type="button" onclick="submitClicks(this);" class="scbtn" style="height: 29px;" value="查询" />
            </td>

        </tr>
    </table>
    @*<div class="searchCommand">
        @Html.ToolbarOfList(Model.GetToolbarActions())
    </div>*@
    <div class="listbox">
        <table class="tablelist">
            <thead id="TabelThead" style="border-color: #5ec2f9; border-bottom-style: solid">
                <tr>
                    <th><input id="ckAll" type="checkbox" onclick="selectAll()" /></th>
                    @Html.Ths(Model.List, Model.GetItemType())
                    @Html.Th(Ths.Operation, new { width = "134px" })
                </tr>
            </thead>
            <tbody id="tbodysNum">

                @using (var scope = new IteratorScope())
                {
                    if (Model.List != null && Model.List.Count > 0)
                    {
                        foreach (var item in Model.List)
                        {

                            <tr>
                                <td><input name="selectBox" type="checkbox" value=@item.Id /></td>
                                @Html.Tds(item, Model.GetItemType())
                                <div>@Html.ToolbarOfItem(Model.GetItemToobalActions(item))</div>
                            </tr>
                            scope.Next();
                        }
                    }

                }
            </tbody>
        </table>
        <div id="pagehtml">
            @(ViewBag.pageHtml == null ? "" : ViewBag.pageHtml)
        </div>
    </div>
</div>
<script src="/js/LodopFuncs.js"></script>
<script type="text/javascript">

    var pageS = 10;
    var index = 0;
    var ActionName = "";
    var ActionUrl = "";
    var jsonData = "";
    function selectInput(choose) {
        pageS = choose.value;
        submitClicks(choose);
    }
    //获取数据
    function AjaxGetData(PageIndex, PageSize) {
        var mobile = $('#Mobile').val();
        var babyName = $('#BabyName').val();
        var code = $('#Code').val();
        var ticketType = $("[id=TicketType.Key]").val();
        var state = "-10001"; //$("[id=State.Key]").val();
        var startTime = $('#Data_Start').val();
        var endTime = $('#Data_End').val();
        $.ajax({
            url: "/Shop/HandRingPrintListPost",
            data: { pageIndex: PageIndex, pageSize: PageSize, code: code, Bdate: startTime, Edate: endTime, babyName: babyName, mobile: mobile, state: state, ticketType: ticketType },
            type: "post",
            //cache: false,
            dataType: "json",
            async: false,
            success: function (data) {
                var listVal = new Array();
                listVal.push("Id");
                listVal.push("Code");
                listVal.push("TicketType");
                listVal.push("Mobile");
                listVal.push("UserName");
                listVal.push("BabyName");
                listVal.push("BabySex");
                listVal.push("ChildNum");
                listVal.push("AdultNum");
                listVal.push("printTime");
                listVal.push("State");
                listVal.push("createTime");
                listVal.push("boor");
                $.GetstrTrs(data, listVal, "Id");
            },
            error: function () {
                window.location.href = "/Home/UserError";
            }
        })
    }
    //操作
    function OperatorThis(RName, RUrl) {
        ActionName = RName;
        ActionUrl = RUrl;
        switch (RName) {
            case "ExportWindowTicketing":
                window.location.href = RUrl;
                break;
            case "HandRingPrint":
                var arr = RUrl.split('/');
                $.ajax({
                    url: "/shop/GetHandRingInfo",
                    data: { Id: arr[3] },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.Code == 0) {
                            if (data.data != null && data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    Print(data.data[i]);
                                }
                                
                            }
                        } else {
                            alert(data.CodeText);
                        }
                    },
                    error: function () {
                        alert("系统异常，请检查网络");
                    }
                })
                break;
            default:
                break;
        }
    }

    function Print(item) {

        // var src = "1234567890";
       // jq(item.name);
        //return;
        var copies = 1;
        var pIndex = 0;
        var pTitle = "手环打印";
        LODOP = getLodop();
        try {
            LODOP = getLodop();
            if (LODOP.VERSION) {
                //if (LODOP.CVERSION)
                //    alert("当前有C-Lodop云打印可用!\n C-Lodop版本:"+LODOP.CVERSION+"(内含Lodop"+LODOP.VERSION+")"); 
                //else
                //    alert("本机已成功安装了Lodop控件！\n 版本号:"+LODOP.VERSION); 
            };
        } catch (err) {
            if (confirm("您的打印控件安装有问题\n是否打开打印设置页面进行设置")) {
                window.open("/Shop/Profile/SetPrinter");
            }
        }
        if (LODOP.PRINT_INIT("手环打印") == false) {
            alert("打印机初始划失败请检查");
        }
        LODOP.SET_PRINTER_INDEX(-1);
                                   //PageWidth //PageHeight
       // LODOP.SET_PRINT_PAGESIZE(2, "260mm", "26mm", "");//横向
                             //Top //Left //内容Width //内容Height //内容
       // LODOP.ADD_PRINT_TEXT("13mm", "130mm", "100mm", "5mm", '333');//横向设置

        LODOP.SET_PRINT_PAGESIZE(1, "26mm", "260mm", "");//这里1表示纵向打印且纸高
        //姓名
        var h = 125;
        var w = 0.5;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '姓');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '名');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '：');//纵向设置
        var arrName = jq(item.name);
        h += 5;//换行
        w = 0.5;
        for (var i = 0; i < arrName.length; i++) {
            if (i >0) {
                w += 3;
            }
            LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", arrName[i]);//纵向设置
        }
        //电话
         h +=5;
         w = 0.5;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '电');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '话');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '：');//纵向设置
        var arrMobile = jq(item.mobile);
        h += 5;//换行
        w = 0.5;
        for (var i = 0; i < arrMobile.length; i++) {
            if (i > 0) {
                w += 3;
            }
            if (i == 6) {
                h += 5;
                w = 0.5;
            }
            LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", arrMobile[i]);//纵向设置
        }

        //进场时间
        h += 5;
        w = 0.5;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '进');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '场');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '时');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '间');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '：');//纵向设置
        var arrEinlass = jq(item.einlass);
        h += 5;//换行
        w = 0.5;
        for (var i = 0; i < arrEinlass.length; i++) {
            if (i > 0) {
                w += 3;
            }
            if (i == 6) {
                h += 5;
                w = 0.5;
            }
            LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", arrEinlass[i]);//纵向设置
        }

        //离场时间
        h += 5;
        w = 0.5;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '离');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '场');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '时');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '间');//纵向设置
        w += 3;
        LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", '：');//纵向设置
        var arreffectiveTime = jq(item.effectiveTime);
        h += 5;//换行
        w = 0.5;
        for (var i = 0; i < arreffectiveTime.length; i++) {
            if (i > 0) {
                w += 3;
            }
            if (i == 6) {
                h += 5;
                w = 0.5;
            }
            LODOP.ADD_PRINT_TEXT(h + "mm", w + "mm", "5mm", "100mm", arreffectiveTime[i]);//纵向设置
        }



        //LODOP.SET_PRINT_PAGESIZE(1, 100, 60, "");
        // LODOP.SET_PRINT_COPIES(copies);//打印份数
        //LODOP.ADD_PRINT_BARCODE(130, 455, 200, 100, "QRCode", obj.Number);
        //LODOP.ADD_PRINT_TEXT(500, 5, 5, 300, '姓');
        //LODOP.ADD_PRINT_TEXT(505, 5, 5, 300, '名');
        //LODOP.SET_PRINT_STYLE("Angle",90);
                             // top  //left  
       

       // LODOP.ADD_PRINT_TEXT("130mm", "13mm", "5mm", "100mm", '333');//纵向设置
        //LODOP.ADD_PRINT_TEXT("130mm", "13mm", "5mm", "100mm", '333');
        //LODOP.ADD_PRINT_TEXT(500, 5, 0, 0, '姓名：' + item.name);
        //LODOP.ADD_PRINT_TEXT(500, 5, 0, 0, '姓名：' + item.name);
        //LODOP.ADD_PRINT_TEXT(500, 25, 5, 300, '电话：' + item.mobile);
        //LODOP.ADD_PRINT_TEXT(500, 45, 5, 350, '进场时间：' + item.einlass);
        //LODOP.ADD_PRINT_TEXT(500, 65, 5, 350, '离场时间：' + item.effectiveTime);
        LODOP.PRINT();
        // $('#table').bootstrapTable('removeAll');
        // setTotal()
    }

    function jq(str) {
        var arr = new Array();
        var count = str.length;
        var start = 0;
        for (var i = 0; i < count; i++) {
            arr.push(str.substring(i, i + 1));
        }
        return arr;
    }
</script>


