@using Moonlit
@model  Ecard.Mvc.Models.Shops.ListWindowTicketings

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">@Model.Localize("title")</a></li>
    </ul>
</div>
<div class="rightinfo">


    <table id="selectTd">
        <tr>
            @Html.EditorForModel("condition")
            <td>
                <input name="" type="button" onclick="submitClicks(this);" class="scbtn" style="height: 29px;" value="查询" />
            </td>

        </tr>
    </table>
    <div class="searchCommand">
        @Html.ToolbarOfList(Model.GetToolbarActions())
    </div>
    <div class="listbox">
        <table class="tablelist">
            <thead id="TabelThead" style="border-color: #5ec2f9; border-bottom-style: solid">
                <tr>
                    <th><input id="ckAll" type="checkbox" onclick="selectAll()" /></th>
                    @Html.Ths(Model.List, Model.GetItemType())
                    @*@Html.Th(Ths.Operation, new { width = "134px" })*@
                </tr>
            </thead>
            <tbody id="tbodysNum">

                @using (var scope = new IteratorScope())
                {
                    if (Model.List != null && Model.List.Count > 0)
                    {
                        foreach (var item in Model.List)
                        {

                            <tr>
                                <td><input name="selectBox" type="checkbox" value=@item.id /></td>
                                @Html.Tds(item, Model.GetItemType())
                                @*<div>@Html.ToolbarOfItem(Model.GetItemToobalActions(item))</div>*@
                            </tr>
                            scope.Next();
                        }
                    }

                }
            </tbody>
        </table>
        <div id="pagehtml">
            @(ViewBag.pageHtml == null ? "" : ViewBag.pageHtml)
        </div>
    </div>
</div>
<script type="text/javascript">

    var pageS = 10;
    var index = 0;
    var ActionName = "";
    var ActionUrl = "";
    var jsonData = "";
    function selectInput(choose) {
        pageS = choose.value;
        submitClicks(choose);
    }
    //获取数据
    function AjaxGetData(PageIndex, PageSize) {
        var mobile = $('#mobile').val();
        var shopName = $('#shopName').val();
        var PayType = $("[id=PayType.Key]").val();
        var AdmissionTicket = $("[id=AdmissionTicket.Key]").val();
        var startTime = $('#Data_Start').val();
        var endTime = $('#Data_End').val();
        $.ajax({
            url: "/Shop/WindowTicketingLogsPost",
            data: { pageIndex: PageIndex, pageSize: PageSize, payType: PayType, Bdate: startTime, Edate: endTime, mobile: mobile, admissionTicketId: AdmissionTicket, shopName: shopName },
            type: "post",
            //cache: false,
            dataType: "json",
            async: false,
            success: function (data) {
                var listVal = new Array();
                listVal.push("id");
                listVal.push("Code");
                listVal.push("TicketName");
                listVal.push("ShopName");
                listVal.push("ShopDisplayName");
                listVal.push("Amount");
                listVal.push("Price");
                listVal.push("Num");
                listVal.push("PayType");
                listVal.push("DisplayName");
                listVal.push("Mobile");
                listVal.push("BabyName");
                listVal.push("BabyBirthDate");
                listVal.push("BabySex");
                listVal.push("CreateTime");
                $.GetstrTrs(data, listVal, "id");
            },
            error: function () {
                window.location.href = "/Home/UserError";
            }
        })
    }
    //操作
    function OperatorThis(RName, RUrl) {
        ActionName = RName;
        ActionUrl = RUrl;
        switch (RName) {
            case "ExportWindowTicketing":
                window.location.href = RUrl;
                break;
            default:
                break;
        }
    }
</script>


