@model EcardModelItem<DonePrePayAccount>
<style>
    .commoditiesTable
    {
        width: 100%;
    }
    .commoditiesTable tr
    {
        height: 25px;
    }
</style>
<div class="two-column">
    <input type="hidden" value="@Model.Item.PosName" id="posName"/>
    <div class="column" style="width: 40%">
        <div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
            id="dealInfo">
            <div class="portlet-header ui-widget-header">
                刷卡信息</div>
            <div class="portlet-content">
                <ul><li>
                        <label class="desc">
                            @Model.Localize("Amount.Name"):
                        </label>
                        <div>
                            <input type="text" data-field="amount" id="amount" tabindex="1" maxlength="255" value="0"
                                class="field text full">
                        </div>
                    </li>
                    <li>
                        <label class="desc">
                            @Model.Localize("currentCommodity.Name"):
                        </label>
                        <div>
                            <input type="text" id="commodity" tabindex="1" maxlength="255" class="field text full">
                        </div>
                    </li>
                    <li id="accountInput">
                        <label class="desc">
                            请输入卡号:
                        </label>
                        <div>
                            <input type="text" data-field="accountName" tabindex="1"  value=""  maxlength="@Model.Site.AccountNameLength"
                                class="field text full">
                            <input type="hidden"  data-field="accountToken" value="@Model.Site.AccountToken" />
                        </div>
                    </li>
                    <li>
                        <label class="desc">
                            @Model.Localize("currentPassword.Name"):
                        </label>
                        <div>
                            <input type="password" id="password" data-field="password" tabindex="1" maxlength="255"
                                class="field text full">
                        </div>
                    </li>
                    
                    <li class="buttons">
                        <button class="ui-state-default ui-corner-all" href="query">@Model.Localize("Query.Text")</button>
                        <button class="ui-state-default ui-corner-all" href="doneprepay" data-success-message='@Model.Localize("doneprepay.success")'>@Model.Localize("DonePrePay.Text")</button>
                    </li>
                </ul>
                <div class="linetop clearfix">
                </div>
                <p id="numbermsg">
                </p>
            </div>
        </div>
        <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
            <div class="portlet-header ui-widget-header">
                操作提示 ...</div>
            <div class="portlet-content" style="display: block;">
                <p>
                    网页发卡版用户消费时，请插入卡片，点击 [@Model.Localize("DonePrePay.Text")].</p>
                <p>
                    自助发卡版用户消费时，请直接输入卡号，并点击 [@Model.Localize("DonePrePay.Text")](请确保发卡阶段卡标识字段为系统默认).</p>
            </div>
        </div>
    </div>
    <div class="column" style="width: 60%">
        <div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="commoditiesPanel">
            <div class="portlet-header ui-widget-header">
                商品信息</div>
            <div class="portlet-content">
                <table class="commoditiesTable">
                    <thead>
                        <tr>
                            <td style="width: 20px">
                                编号
                            </td>
                            <td style="width: 20px">
                                名称
                            </td>
                            <td style="width: 20px">
                                单价
                            </td>
                            <td style="width: 20px">
                                数量
                            </td>
                            <td style="width: 20px">
                                金额
                            </td>
                            <td style="width: 20px">
                                删除
                            </td>
                        </tr>
                    </thead>
                    <tbody id="commodities">
                    </tbody>
                </table>
            </div>
        </div>
        @Html.Partial("AccountInfoPub", "accountInfo")
    </div>
</div>
@*<p class="pay-p" style="text-align: center">
    <button id="btnPay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/pay?accountName=">@Model.Localize("Pay.Text")</button>
    <button id="btnCancelPay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/cancelpay?accountName=">@Model.Localize("PayCancel.Text")</button>
    <button id="btnUnPay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/prepay?accountName=">@Model.Localize("PrePay.Text")</button>
    <button id="btnCancelPrePay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/cancelprepay?accountName=">@Model.Localize("CancelPrePay.Text")</button>
    <button id="btnDonePay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/doneprepay?accountName=">@Model.Localize("DonePrePay.Text")</button>
    <button id="btnPrePay" class="ui-state-default ui-corner-all"  style="margin: 0px auto;float:none;" href="../Account/unpay?accountName=">@Model.Localize("UnPay.Text")</button>
    
</p> *@
<script>
    var showcommodities = function() {
        if($("tr", $("#commodities")).length == 0) {
            $("#commoditiesPanel").hide();
        } else {
            $("#commoditiesPanel").show();
        }
    };
    var del_commodity = function (e, it) {
        e.preventDefault();
        var row = $(it).parents("tr");

        var commodity = row.bindto();

        var amount = parseFloat($("#amount").val());
        if (isNaN(amount)) amount = 0;
        amount -= parseFloat( parseFloat(commodity.Amount).toFixed(2));
        $("#amount").val(amount.toFixed(2));
        row.remove();
        showcommodities();
    };
           
    (function ($) {
        $("#numbermsg").text('@Model.Localize("waitingForInsertCard")');
        if ($("#posName").val().length == 0) {
            alert( '@Model.Localize("noPosHere")' );
        };
        $(function () {
            showcommodities();
            $("#commodity").autocomplete({
			    source: function( request, response ) { 
				            $.ajax({
					            url: '@Url.RouteUrl(new { controller = "commodity", action = "listfast" })',
					            data: { 
						            name: request.term
					            },
					            success: function( data ) {
						            response( $.map( data, function( item ) {
						                return {
						                    label: String.format("{0}({1}, {2})", item.Name, item.DisplayName, item.Price),
						                    value: item.DisplayName,
						                    data : item
						                };
						            }));
					            }
				            });
			            },
			    minLength: 2 ,
                select: function( event, ui ) {
                    if( ui.item )
                    {
                        var commodity = ui.item.data;
                        var s = "<tr><td data-field='Name'></td><td data-field='DisplayName'></td><td data-field='Price'></td><td data-field='Count'></td><td data-field='Amount'></td><td><a href='#' onclick='del_commodity(event, this)'>删除</a></td></tr>";
                        var item = $(s);
                        item.bindfrom(commodity);
                        $("#commodities").append(item);

                        var count = prompt("请输入数量");
                        if(count.length == 0)
                            count = 1;
                        else
                            count = parseInt(count);
                            if(isNaN(count)) count = 1;
                        commodity.Count = count;
                        commodity.Amount = (commodity.Price * count).toFixed(2);
                        var amount =  parseFloat($("#amount").val());
                        if(isNaN(amount))
                            amount = 0;
                        amount += parseFloat(commodity.Amount);
                        $("#amount").val(amount.toFixed(2));
                        item.bindfrom(commodity);
                        showcommodities();
                    }
                    this.value = "";
                    return false;
                },
                open: function() {
				        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			        },
			        close: function() {
				        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			        }
		    });
            $("button").click(function (e) {
                $("#numbermsg").css("color", "red");
                $("#accountInfo").bindfrom({});
                e.preventDefault();

                var $this = $(this);

                var account = readAccount();
                if (account == null) {
                    $("#numbermsg").text('@Model.Localize("failToReadAccount")');
                    return;
                }
                if (account.accountName) {
                    $("#accountInput").bindfrom(account);
                }
                
                $("#numbermsg").css("color", "");
                $this.attr("disabled", "disabled");
                $("#numbermsg").text('@Model.Localize("waitingForCommunicate")');
                $.post($(this).attr("href") + "?tm=" + new Date(), $.extend( $("#dealInfo").bindto(), {posName:$("#posName").val()})
                    , function (data) {
                        $("#numbermsg").text(data.CodeText);
                        $("#accountInfo").bindfrom(data);
                        if (data.Code == 0) {
                            $("#numbermsg").css("color", "green");
                            $("#accountInput").bindfrom({});
                            $("tr", $("#commodities")).remove();
                            showcommodities();
                            if($this.attr("data-success-message"))
                                alert($this.attr("data-success-message"));
                        }
                        else
                        {
                            $("#numbermsg").css("color", "red");
                        }
                        $("[data-field='accountToken']").val('@Model.Site.AccountToken');
                        $("[data-field='amount']").val('0');
                        $("[data-field='accountName']").val('');

                        $this.attr("disabled", false);
                    });
                $("#password").val("");
            });
        });
    })(jQuery);
</script>
