@using System.Data
@using Moonlit
@model  SaleAccountReport
@using (Html.BeginForm("SaleAccount", "Report"))
{ 
   <div style="width: 98%; margin: 6px 10px 10px 16px; float: left">
        <div>
            <div class="searchmainDiv">
                <div class="searchtext">
                    <ul>
                        @Html.EditorForModel("condition")
                        <li>@Html.Submit(Model.Localize("query"))</li>
                    </ul>
                </div>
                <br />
                <div class="searchCommand">@Html.ToolbarOfList(Model.GetToolbarActions())
                </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div class="listbox">
        <div class="listbox_tital">
            <div style="float: left; display: inline-block;">
                @Model.Localize("title")</div>
            <div style="float: right;">
                <input type="submit" value="查询结果" class="label_button_up button" onclick="return false;" />
            </div>
        </div>
        @Html.Partial("Templates/datatable", Model)
        @Html.Pager(Model)
    </div>
</div>
}
