@{
    ViewBag.Title = "购买卡";
    Layout = null;
}
@model MicroMall.Models.Parentings.BuyCardResult
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link href="/css/weui.min.css" rel="stylesheet" />
</head>

<body>
    <input type="hidden" id="userCouponsId" value="0" />
    <input type="hidden" id="accountTypeId" value="0" />
    <div class="gm_one"><img src="/images/img2.png"></div>
    <ul class="gm_two">
        <li class="li1" value="1" amount="@Convert.ToInt32(Model.accountTypes.Where(x=>x.AccountTypeId==1).FirstOrDefault().Amount)">
            <div class="left">
                <strong>白银气球卡·20次</strong><br>
                每次最多3个小朋友同时享受此优惠
            </div>
            <div class="right">￥@(Model != null ? Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 1).FirstOrDefault().Amount) : 0)</div>
        </li>
        <li class="li2" value="2" amount="@Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 2).FirstOrDefault().Amount)">
            <div class="left">
                <strong>黄金气球卡·50次</strong><br>
                ·全年有效，不限节假日<br>
                ·每次最多3个小朋友同时享受此优惠
            </div>
            <div class="right">￥@(Model != null ? Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 2).FirstOrDefault().Amount) : 0)</div>
        </li>
        <li class="li3" value="3" amount="@Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 3).FirstOrDefault().Amount)">
            <div class="left">
                <strong>铂金气球卡·平日畅玩</strong><br>
                ·1年有效，可使用时段：周一至周五<br>
                ·每次最多1个小朋友享受此优惠
            </div>
            <div class="right">￥@(Model != null ? Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 3).FirstOrDefault().Amount) : 0)</div>
        </li>
        <li class="li4" value="4" amount="@Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 4).FirstOrDefault().Amount)">
            <div class="left">
                <strong>黑金气球卡·全年无限畅玩</strong><br>
                ·1年有效，不限节假日<br>
                ·每次最多1个小朋友享受此优惠
            </div>
            <div class="right">￥@(Model != null ? Convert.ToInt32(Model.accountTypes.Where(x => x.AccountTypeId == 4).FirstOrDefault().Amount) : 0)</div>
        </li>
    </ul>
    <div class="gm_you"><span>优惠券</span><strong id="couponText">（@(Model.ListCoupons != null ? Model.ListCoupons.Count() : 0)  张可用）</strong></div>
    <div class="gm_price">
        <div class="div">
            <div class="left">
                ￥<span id="payAmount">0</span><i id="discountAmount">（已优惠0元）</i>
            </div>
            <a href="#" id="tj" class="a">结 算</a>
        </div>
    </div>

    <!--选择优惠券-->
    <div class="xz_zhe"></div>
    <div class="xz_yhq">
        <i class="close"></i>
        <div class="top">选择优惠券</div>
        <ul class="yhq_ul">
            @if (Model.ListCoupons != null && Model.ListCoupons.Count() > 0)
            {
                foreach (var item in Model.ListCoupons)
                {
                    <li value="@item.UserCouponsId" class="coupon" describe="@item.describe" type="" amount="" useScope="@item.useScope">
                        <div class="left">
                            @Html.Raw(item.amount)
                            <i>@item.couponsType</i>
                        </div>
                        <div class="right">
                            <strong>@item.describe</strong><br>
                            <span>@item.validity</span><br>
                            @item.useScope
                        </div>
                    </li>
                }
            }


            @*<li>
                    <div class="left">
                        ￥<span>20</span><br>
                        <i>优惠券</i>
                    </div>
                    <div class="right">
                        <strong>使用描述</strong><br>
                        <span>有效期</span><br>
                        有效范围
                    </div>

                </li>
                <li>
                    <div class="left">
                        ￥<span>20</span><br>
                        <i>优惠券</i>
                    </div>
                    <div class="right">
                        <strong>使用描述</strong><br>
                        <span>有效期</span><br>
                        有效范围
                    </div>
                </li>*@
        </ul>
    </div>

    <script src="/js/jQuery.js"></script>
    <script src="/js/fz.js?v1.2"></script>
    
    <script type="text/javascript">
        $(function () {
            //选择充值卡
            $(".gm_two li").click(function () {
                $(".gm_two li").removeClass("sel");
                $(this).addClass("sel");
                var amount = $(this).attr("amount");
                var id = $(this).attr("value");
                $("#accountTypeId").val(id);
                $("#payAmount").html(amount);
                var userCouponsId = $("#userCouponsId").val();
                $.ajax({
                    url: "/PersonalCentre/DiscountAmount",
                    data: { amount: amount, userCouponsId: userCouponsId },
                    type: "post",
                    success: function (data) {
                        $("#discountAmount").html("(已优惠" + data.Msg + "元)");
                    }
                })
            })

            //打开优惠券 并选择
            $(".gm_you").click(function () {
                $(".xz_zhe").show();
                $(".xz_yhq").addClass("kai");
            })
            $(".xz_yhq .close").click(function () {
                $(".xz_zhe").hide();
                $(".xz_yhq").removeClass("kai");
            })
            $(".xz_yhq ul li").click(function () {
                //$(".coupon").removeClass("sel");
                //$(this).addClass("sel");
                //$("#couponText").html($(this).attr("describe") + " 使用：" + $(this).attr("useScope"));
                //var value = $(this).attr("value");
                //$("#userCouponsId").val(value);
                //$(".xz_zhe").hide();
                //$(".xz_yhq").removeClass("kai");
                //var amount = $("#payAmount").html();
                //$.ajax({
                //    url: "/PersonalCentre/DiscountAmount",
                //    data: { amount: amount, userCouponsId: value},
                //    type: "post",
                //    success: function (data) {
                //        $("#discountAmount").html("(已优惠" + data.Msg + "元)");
                //    }
                //})
                if ($(this).hasClass("sel") == false) {
                    $(".coupon").removeClass("sel");
                    $(this).addClass("sel");
                    $("#couponText").html($(this).attr("describe") + " 使用：" + $(this).attr("useScope"));
                    var value = $(this).attr("value");
                    $("#userCouponsId").val(value);
                    $(".xz_zhe").hide();
                    $(".xz_yhq").removeClass("kai");
                    var amount = $("#payAmount").html();
                    $.ajax({
                        url: "/PersonalCentre/DiscountAmount",
                        data: { amount: amount, userCouponsId: value },
                        type: "post",
                        success: function (data) {
                            $("#discountAmount").html("(已优惠" + data.Msg + "元)");
                        }
                    })
                }
                else {
                    $("#userCouponsId").val(0);
                    $(this).removeClass("sel");
                    $(".xz_zhe").hide();
                    $(".xz_yhq").removeClass("kai");
                    $("#couponText").html("(请选择优惠卷)");
                    $("#discountAmount").html("(已优惠0元)");
                }

            })

            $("#tj").click(function () {
                var accountTypeId = $("#accountTypeId").val();
                var userCouponsId = $("#userCouponsId").val();
                if (accountTypeId == "0") {
                    $.openDialog("请选择你需要购买的卡片");
                    return;
                }
                $.openLoading("下单中");
                $.ajax({
                    url: "/PersonalCentre/CardPlaceOrder",
                    data: { accountTypeId: accountTypeId, userCouponsId: userCouponsId },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        $.closeLoading();
                        if (data.Code == 0) {
                            //$.openDialogUrl("购卡成功", "/PersonalCentre/index");
                            tzurl = "/PersonalCentre/index";
                            $.webChatPay(data.Msg);
                        } else {
                            $.openDialog(data.Msg);
                        }
                    },
                    error: function () {
                        $.closeLoading();
                        $.openDialog("系统异常，请检查网络");
                    }

                });
            });
        })
    </script>
</body>
</html>